body {
    background: url(imagenes/maxresdefault-1.jpg);
    font-family: 'Bebas Neue', cursive;
    color: #6AE259;
    font-size: 1.2rem;
    line-height: 1.4em;
    margin: 0;
}
p {
    margin-bottom: 1.6em;
}
.container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}
.header {
    background:url(imagenes/5dfd168159bf5b27737f86fb.jpg);
    
    padding:2rem 0 ;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
.header a {
color: #6AE259;
text-decoration:none;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.navegacion ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.navegacion ul li {
    display:inline-block;
}
.navegacion ul li a {
    display:block;
    padding:0.5rem 1rem;
    transition: all 0.3s linear;
    border-radius: 10px;
}
.navegacion ul li a:hover {
background: rgb(220, 255, 242);
}

.footer {
 background:url(imagenes/5dfd168159bf5b27737f86fb.jpg);
    padding: 4rem 0;
    text-align: center;
    margin-top: 6rem;
}
.main {
    padding-top: 20rem;
}

@media only screen and (max-width: 767px){

    
    .navegacion {
        width: 100%;
        margin-top: 1rem;
    }
    .navegacion ul li {
        display:block;
    }
    .navegacion ul li a {
        display:block;
        padding:0.5rem 0;
        transition: all 0.3s linear;
        border-radius: 10px;
    }
}
.enlace {
    position: absolute absolute;
    padding: 30px 50px;
    left: 0;
    top: 0;
}
.logo {
    height: 40px;
}
